body {
  background: linear-gradient(
    rgba(194, 194, 194, 0.3),
    rgba(190, 190, 190, 0.3)
  );
  font-family: sans-serif;
}

.main-heading {
  text-align: center;
  padding: 0.5%;
}

#task-adder {
  padding: 1%;
}

#todo-lists {
  overflow: auto;
  height: 600px;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
  display: flex;
  flex-flow: column wrap;
}

.main-heading,
#task-adder,
#todo-lists {
  margin: 1%;
}

.task-adder-header {
  margin: 0%;
  text-align: center;
  font-weight: 500;
}

#addTitleBar {
  display: flex;
  justify-content: center;
  margin: 1% 0% 0% 0%;
}

#title,
.addTask {
  width: 30%;
  padding: 0.5% 0% 0.5% 1%;
  background-color: whitesmoke;
  border: none;
}

#title::placeholder,
.addTask::placeholder {
  font-style: italic;
  color: #cccccc;
}

#title,
.createButton,
.addTask,
.addButton {
  border: 1px solid #cccccc;
}

.createButton,
.addButton {
  background-color: rgba(135, 206, 250, 0.397);
  margin: 0% 0% 0% 0.1%;
}

.addButton {
  padding: 0.4%;
}

.svg {
  height: 16px;
}

.deleteImage,
.tickImage,
.closeImage {
  background-color: transparent;
  border: none;
  height: 20px;
}

.closeImage {
  height: 15px;
  margin-top: 3px;
}

.createButton,
.addButton,
.deleteImage,
.removeImage,
.closeImage input[type='checkbox'] {
  cursor: pointer;
}

.list {
  margin: 1%;
  background-color: rgba(227, 227, 227, 0.455);
  border-radius: 5px;
  width: 30%;
  padding: 1%;
}

.list-items {
  padding: 1%;
}

.list-title {
  margin: 0% 0% 1% 0%;
  font-weight: 500;
}

.list-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bbbbbb;
  padding: 1%;
}

.addTaskBar {
  display: flex;
  margin: 2% 0% 2% 0%;
}

.removeImage {
  height: 10px;
  margin-top: 1.5%;
  display: none;
}

.task-item:hover .removeImage {
  display: inline;
}

.task-item {
  display: flex;
  justify-content: space-between;
}

.task-item p {
  margin: 0.5% 0% 0.5% 0%;
  padding: 0%;
}

#title:focus,
.createButton:focus,
.addButton:focus,
.addTask:focus,
.list-title:focus,
.task-item span:focus {
  outline: none;
}

.task-item:hover {
  background: #dedede;
}

.completedTask {
  color: #909090;
}
