body {
  background: linear-gradient( to right, whitesmoke, gray );
}

.main-heading {
  text-align: center;
  padding: 0.5%;
}

.listsContainer {
  height: 650px;
}

.main-heading,
.listsContainer {
  margin: 2% 5% 1% 5%;
  border: 1px solid black;
  border-radius: 10px;
}

#task-adder {
  border: 1px dotted black;
  padding: 2%;
  border-radius: 10px;
  width: 25%;
  margin: 0 auto;
  margin-top: 1%;
  
}

.task-adder-header {
  margin: 0px;
  text-align: center;
  font-weight: 500;
}

#addTitleBar {
  display: flex;
  justify-content: center;
  margin: 5% 0% 0% 0%;
}

#title {
  width: 70%;
  padding-left: 10px;
}

#title,
#createButton {
  border-radius: 3px;
  background-color: whitesmoke;
  border: 1px solid rgb(154, 154, 154);
}

#createButton:focus,
#title:focus {
  outline: none;
}

.svg {
  height: 15px;
}

#todo-lists {
  overflow: auto;
  margin: 1% 1% 1% 1%;
  height: 500px;
}


.list {
  display: flex;
  flex-flow: column wrap;
  border-radius: 10px;
  padding: 0.5%;
  margin: 0.5%;
  border: 1px solid black;
}

.list-title {
  margin: 0%;
  font-weight: 500;
}

.list-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin: 1%;
}


.addTask {
  width: 25%;
  padding-left: 10px;
}

.addTask,
.addButton {
  border-radius: 3px;
  background-color: whitesmoke;
  border: 1px solid rgb(154, 154, 154);
}

.addButton:focus,
.addTask:focus {
  outline: none;
}

#addTaskBar {
  display: flex;
  justify-content: center;
}