body {
  background: linear-gradient(
    rgba(194, 194, 194, 0.3),
    rgba(190, 190, 190, 0.3)
  );
  font-family: sans-serif;
}

.container {
  background: rgba(245, 245, 245, 0.831);
  border: 1px solid #aaaaaa;
  border-radius: 5px;
}

.main-heading {
  text-align: center;
  padding: 0.5%;
}

#container-header {
  padding: 1%;
}

#todo-lists {
  overflow: auto;
  height: 580px;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding: 1%;
}

.main-heading,
.container {
  margin: 1%;
}

.task-adder-header {
  margin: 0%;
  text-align: center;
  font-weight: 500;
}

#addTitleBar {
  display: flex;
  justify-content: center;
  margin: 1% 0% 0% 0%;
}

#title {
  width: 30%;
  padding: 0.5% 0% 0.5% 1%;
  border: none;
}

#title::placeholder,
.addTask::placeholder {
  font-style: italic;
  color: #b0b0b0;
}

#title,
.createButton {
  border: 1px solid #cccccc;
}

.addTask {
  background: transparent;
  border: none;
  border-bottom: 1px solid #dddddd;
  width: 90%;
  padding: 1%;
}

.addTaskBar {
  margin: 3%;
  padding: 2% 0%;
}

.createButton {
  background-color: rgba(135, 206, 250, 0.397);
  margin: 0% 0% 0% 0.1%;
}

.addButton {
  height: 16px;
  margin-left: 2.5%;
}

.svg {
  height: 16px;
}

.deleteImage,
.tickImage {
  background-color: transparent;
  border: none;
  height: 20px;
}

.createButton,
.addButton,
.deleteImage,
.removeImage,
.editImage,
.editTaskImage,
input[type='checkbox'] {
  cursor: pointer;
}

.list {
  margin: 1%;
  background: rgba(230, 230, 230, 0.455);
  border-radius: 5px;
  width: 29%;
  border: 1px solid #cccccc;
}

.list-items {
  padding: 1%;
}

.list-title {
  margin: 0% 0% 1% 0%;
  font-weight: 500;
}

.list-header {
  display: flex;
  justify-content: space-between;
  margin: 3%;
}

.removeImage,
.editTaskImage {
  display: none;
  margin-top: 5px;
}

.removeImage {
  height: 18px;
  margin-bottom: -1.5px;
  opacity: 0.6;
}

.editTaskImage {
  height: 20px;
  margin-bottom: -2px;
}

.task-item:hover {
  background: #e8e8e8af;
}

.task-item:hover .removeImage,
.task-item:hover .editTaskImage {
  display: inline;
}

.task-item {
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.task-item p {
  margin: 0.5% 0%;
  padding: 0%;
}

#title:focus,
.createButton:focus,
.addButton:focus,
.addTask:focus,
.list-title:focus,
.task-item span:focus {
  outline: none;
}

.completedTask {
  color: #909090;
}

.tasks {
  margin: 3%;
}

.editImage {
  height: 25px;
  margin-bottom: -3px;
}

.work,
.list-title {
  outline: none;
  background: transparent;
  border: none;
  font-size: 80%;
  width: 300px;
}

.work {
  font-weight: 500;
}

.list-title {
  font-weight: 700;
}
