body {
  background: linear-gradient(
    rgba(194, 194, 194, 0.3),
    rgba(190, 190, 190, 0.3)
  );
  font-family: sans-serif;
}
::placeholder {
  font-style: italic;
  color: #777777;
  font-family: font-awesome;
  font-size: 1.5vh;
}
label {
  color: black;
  font-weight: 600;
  font-size: 0.85em;
}
input:focus {
  outline: none;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form {
  display: flex;
  width: auto;
  margin: 1%;
  padding: 2%;
  border-radius: 10px;
  background: rgba(230, 230, 230, 0.455);
  border: 1px solid #aaaaaa; 
}
.signInSection,
.signUpSection {
  padding: 1rem;
}
.header {
  text-align: center;
  font-weight: 700;
  margin: 0%;
}
.form-field {
  display: block;
  width: 300px;
  margin: 10px auto;
}
.form-field label {
  display: block;
  margin-bottom: 10px;
}
.form-field input[type='password'],
input[type='email'],
input[type='text'] {
  width: 90%;
  padding: 2%;
  border-radius: 7px;
  border: 1px solid #aaaaaa;
  color: #777777;
  font-family: font-awesome;
  font-size: 2vh;
}

.form-field input:focus {
  border: 1px solid #555555;
}
.button {
  padding: 15px;
  font-size: 1em;
  width: 93%;
  border-radius: 25px;
  border: 1px solid #aaaaaa;
  margin: 20px 0px;
  cursor: pointer;
  background: #dddddd;
}
.createAccount {
  display: flex;
}
.createAccount p {
  color: #777777;
}
#createAccount {
  border-bottom: 1px solid #aeb6b8;
}
#createAccount,
#signIn {
  color: #555555;
  cursor: pointer;
  margin-left: 10px;
}
label {
  color: #555555;
}
.hidden {
  display: none;
}
